﻿@model NETCord.ViewModels.PlayerViewModel


@{
    ViewBag.Title = "Home Page";
}

<div class="" style="padding-top: 50px;">
    @using (Html.BeginForm("PlayerSearch", "Home", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
        <button type="submit">Player Search</button>
    }
</div>