﻿@{
    ViewBag.Title = "Player Search Results";
}
<h2>@ViewBag.Title.</h2>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Location</th>
                <th>Gender</th>
                <th>NRTP</th>
                <th>Year End Rating Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.PlayerList)
            {
                <tr>
                    <th scope="row">@item.Name</th>
                    <td>@item.City, @item.State</td>
                    <td>@item.Gender</td>
                    <td>@item.Rating</td>
                    <td>@item.YearEndRatingDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>